%p.mb-4= icon("fas", "heart-broken", class: "mr-2") + "Sorry, we can't connect to your lightning node for some unknown reason. Please try using the online version of LN+."
%p= link_to "Proceed to LN+ Online", "https://lightningnetwork.plus", class: positive_button + "mb-2 py-2"