%p.mt-4 Please find another Swap, or start a new one with the parameters you prefer.
.flex.mt-6.mb-4
  .flex-none.text-white= link_to (icon("fas", "search", class: "mr-2") + "Find"), for_me_path, class: positive_button + "mr-2"
  .flex-none.text-white= link_to (icon("fas", "plus", class: "mr-2") + "Start"), new_swap_path, class: positive_button + "mr-2"