%p Sorry, your node capacity or number of channels is too low for the swap, or your on-chain balance may be too low to open a channel of required size. Kindly find another Swap, start a new one, or add bitcoin to your on-chain wallet.
= render "swaps/next/find"