.mb-4.flex
  .flex-grow
    -# .flex-none.hidden.md:block.mt-2= link_to "My Swaps", my_swaps_path, class: white_button + "mr-2 mb-2 py-2"
    .flex-none.mt-2= link_to (icon("fas", "plus", class: "mr-2") + "Start Swap"), new_swap_path, class: positive_button + "mb-2 py-2"