- if errors_present(@json)
  = render partial: "shared/error", locals: {json: @json}
- else
  .flex
    %h1.text-3xl.font-light.mb-4 Liquidity Swaps Open for Me
    .flex-grow
    = render "swaps/swap_nav"
  - if @json.count > 0
    %p.mb-4 Review swaps and join one that fits your node profile.
    .grid.gap-6.xl:grid-cols-4.lg:grid-cols-3.md:grid-cols-2
      - @json.each do |swap|
        = render "swaps/swap", swap: swap
  - else
    %p.mb-4 Sorry, no existing public swaps match your node. Create a swap with your desired parameters and let others join.
    %p= link_to (icon("fas", "plus", class: "mr-2") + "Start Swap"), new_swap_path, class: positive_button + "mb-2 py-2"