.flex
  %h1.text-3xl.font-light.mb-2 Latest Liquidity Swaps
  .flex-grow
  = render "swaps/swap_nav"
%p.mb-8= icon("fas", "info-circle", class: "mr-2") + "Latest Lightning Network+ Liquidity Swaps"
.grid.gap-6.xl:grid-cols-4.lg:grid-cols-3.md:grid-cols-2
  - @json.each do |swap|
    = render "swaps/swap", swap: swap