- unless ENV["API_URL"] == "https://lightningnetwork.plus/api/2/"
  %p.bg-yellow-100.px-6.py-3.text-sm.font-light.text-center= icon("fas", "exclamation-circle", class: "mr-2") + "API DEV SERVER: " + ENV["API_URL"]
%p.bg-purple-900.px-6.py-3.text-purple-200.text-sm.font-light.text-center.hover:bg-purple-800
  %span Welcome to the offline version of LN+, which offers a different set of features you can enjoy online:
  %span= link_to "https://lightningnetwork.plus", "https://lightningnetwork.plus", class: "text-purple-400 hover:text-purple-200 font-normal"
