%div{ "data-controller" => "hello" }
  = render partial: "layouts/navigation/desktop", locals: { nav_button_class: negative_button, nav_button_small_class: negative_button_small, gradient_class: "from-violet-900 to-violet-700" }
  = render partial: "layouts/navigation/mobile", locals: { nav_button_class: negative_button, nav_button_small_class: negative_button_small, gradient_class: "from-violet-900 to-violet-700" }